<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="screw_driver" params="prefix">
    <material name = "pink">
      <color rgba="1.0 0.7176470588235294 0.807843137254902 1.0" />
    </material>
    <link name="tool_mount">
      <inertial>
        <mass value="6.215"/>
        <origin xyz="-0.04204 8.01E-05 0.07964" rpy="0 0 0"/>
        <inertia ixx="0.0247272" ixy="-8.0784E-05" ixz="0.00130902" iyy="0.0491285" iyz="-8.0419E-06" izz="0.0472376"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://abb_tool_description/meshes/screw_driver/visual/screw_driver_link.STL"/>
        </geometry>
        <material name="pink"/>
      </visual>
      <collision>
        <origin xyz="-0.05 0.0 0" rpy="0 0 1.57"/>
        <geometry>
          <box size ="0.05 0.14 0.015"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.095 0.0 -0.07" rpy="0 0 1.57"/>
        <geometry>
          <cylinder length ="0.14" radius="0.0198"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.095 0.0 0.085" rpy="0 0 1.57"/>
        <geometry>
          <cylinder length ="0.21" radius="0.0108"/>
        </geometry>
      </collision>
    </link>

    <link name="hole" />
    <joint name="mount_to_hole" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="tool_mount"/>
      <child link="hole"/>
    </joint>
  </xacro:macro>
</robot>
